head {  text-align:left;
	color:rgb(198,122,12);
	background-color:rgb(110,12,13);
     }
body {
	color:rgb(198,12,100);
background-color:rgb(12,134,4);
	font-family:"Verdana";
     }

h1   {  text-align:center;
        color:#ba0544;
     }
h2   {  color:pink;
        background-color:rgb(240,200,255)
        text-align:left;

     }
p    { text-align:center;
       font-size :30px;
	   font-weight:bold;
     }
p1{ text-align:left;
	color:#000172;

}
div {
    border: 2px solid black;
    height:328px;
    width: 598px;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-right: 1500px;
    margin-left: 360px;
    background-color:pink;
    padding : 12px 15px 12px 15px;

}
