
<DOCTYPE html>
    <html>
<head>
     <title> This page is displayed when user presses email my list button</title>
<link rel="stylesheet" href="proj1styling/proj1style2.css">
</head>
<body>
    <div id="slist">Email Page</div><br>
    <p1 id="myemail"></p1><br>
       <script>
       function displayemail(){
           var email = prompt( "Enter your email ", "");
           document.getElementById("myemail").innerHTML = email;
           }
       </script>
<button class="button" onclick= "displayemail()">Click to enter email</button><br><br>
</body>
</html>
